My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "6dcc555d-0989-4cdb-bf5d-85d4fdbb272e",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1080,
        360
      ]
    },
    {
      "parameters": {
        "url": "http://xmlcalendar.ru/data/ru/2022/calendar.csv",
        "options": {
          "redirect": {},
          "response": {
            "response": {
              "fullResponse": false,
              "neverError": false,
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "baf61c55-b7ea-4d07-af77-f64ac3aaf71b",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        360
      ]
    },
    {
      "parameters": {
        "url": "http://xmlcalendar.ru/data/ru/2022/calendar.json",
        "options": {}
      },
      "id": "017b2201-9d7b-4fb3-b4f3-a2dfa716712c",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "fileFormat": "html",
        "options": {
          "readAsString": true
        }
      },
      "id": "dcff4a6a-63d5-4bbd-93a8-056fba87ee19",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        1480,
        360
      ]
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "year",
              "field2": "[\"Год/Месяц\"]"
            }
          ]
        },
        "options": {
          "skipFields": ""
        }
      },
      "id": "d8db5b83-09b1-4517-9bb1-860855b43ebd",
      "name": "Compare Datasets2",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1920,
        480
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "Год/Месяц",
              "type": "numberValue",
              "numberValue": "={{ $json.year }}"
            },
            {
              "name": "Январь",
              "stringValue": "={{ $json.months[0].days }}"
            },
            {
              "name": "Февраль",
              "stringValue": "={{ $json.months[1].days }}"
            },
            {
              "name": "Март",
              "stringValue": "={{ $json.months[2].days }}"
            },
            {
              "name": "Апрель",
              "stringValue": "={{ $json.months[3].days }}"
            },
            {
              "name": "Май",
              "stringValue": "={{ $json.months[4].days }}"
            },
            {
              "name": "Июнь",
              "stringValue": "={{ $json.months[5].days }}"
            },
            {
              "name": "Июль",
              "stringValue": "={{ $json.months[6].days }}"
            },
            {
              "name": "Август",
              "stringValue": "={{ $json.months[7].days }}"
            },
            {
              "name": "Сентябрь",
              "stringValue": "={{ $json.months[8].days }}"
            },
            {
              "name": "Октябрь",
              "stringValue": "={{ $json.months[9].days }}"
            },
            {
              "name": "Ноябрь",
              "stringValue": "={{ $json.months[10].days }}"
            },
            {
              "name": "Декабрь",
              "stringValue": "={{ $json.months[11].days }}"
            },
            {
              "name": "Всего рабочих дней",
              "type": "numberValue",
              "numberValue": "={{ $json.statistic.workdays }}"
            },
            {
              "name": "Всего праздничных и выходных дней",
              "type": "numberValue",
              "numberValue": "={{ $json.statistic.holidays }}"
            },
            {
              "name": "Количество рабочих часов при 40-часовой рабочей неделе",
              "type": "numberValue",
              "numberValue": "={{ $json.statistic.hours40 }}"
            },
            {
              "name": "Количество рабочих часов при 36-часовой рабочей неделе",
              "type": "numberValue",
              "numberValue": "={{ $json.statistic.hours36 }}"
            },
            {
              "name": "Количество рабочих часов при 24-часовой рабочей неделе",
              "type": "numberValue",
              "numberValue": "={{ $json.statistic.hours24 }}"
            }
          ]
        },
        "include": "selected",
        "options": {}
      },
      "id": "dcb6290d-8858-4b4e-a354-9756b33acb37",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        1700,
        200
      ]
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "[\"Год/Месяц\"]",
              "field2": "[\"Год/Месяц\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "5891e036-aa0a-4113-87bf-695e41f6d124",
      "name": "С предварительным мапингом",
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1920,
        220
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Compare Datasets2",
            "type": "main",
            "index": 1
          },
          {
            "node": "С предварительным мапингом",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Compare Datasets2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "С предварительным мапингом",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "09d850ba-b4c8-481f-ab45-67100370ae7e",
  "id": "MjEwaTbLy3sRK3LR",
  "meta": {
    "instanceId": "acaad5eb80d386372907382f903e2a68c144dfc9cc186fe05dca36781182596c"
  },
  "tags": []
}